.hide-number-input-spinner {
  -moz-appearance: textfield;
  appearance: textField;
}

.hide-number-input-spinner::-webkit-outer-spin-button,
.hide-number-input-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
